/* Size variants */
dl.smaller, ul.smaller {
  font-size: .618em;
  dt, dd, li {
    font-size: .9em;
    line-height: 1.25;
  }
}

.technical{
  dt {
    font-family: monospace;
  }
}
.big {
  p, ul, dl {
    font-size: 1.4em;
    line-height: 1.25;
    letter-spacing: 0;
  }
  h3{
    font-size: 1.75rem
  }
  td, th {
    font-size: 1.5em;
  }
  pre {
    font-size: .95em;
    line-height: 1.5;
    letter-spacing: 0;
  }
  q {
    font-size: 50px;
    line-height: 60px;

    &:before, &:after {
      font-size: 60px;
    }
  }
}
.medium {
  font-size: .75em;
}
.small {
  p, ul, dl {
    font-size: .8em;
    line-height: 1.25;
    letter-spacing: 0;
  }
  td, th {
    font-size: .65em;
  }
  pre {
    font-size: .65em;
    line-height: 1.5;
    letter-spacing: 0;
  }
  q {
    font-size: 40px;
    line-height: 48px;

    &:before, &:after {
      font-size: 60px;
    }
  }
}
.smaller {
  p, ul, dl {
    font-size: .85em;
    line-height: 1.25;
    letter-spacing: 0;
  }
  td, th {
    font-size: .56em;
  }
  pre {
    font-size: .56em;
    line-height: 1.5;
    letter-spacing: 0;
  }
  q {
    font-size: 40px;
    line-height: 48px;

    &:before, &:after {
      font-size: 60px;
    }
  }
}
