@import "base";
@import "compass/css3/columns";
@import "compass/css3/user-interface";
@import "themestyles";
@import "tables";
@import "sizevariants";
@import "slides";
@import "typography";
@import "code";
@import "media--print";



iframe {
  width: 100%;
  height: $slide-height - ($slide-top-bottom-padding * 2) - ($article-content-top-padding * 2);
  background: white;
  border: 1px solid $gray-1;
  @include box-sizing(border-box);
}


button {
  display: inline-block;
  @include background(linear-gradient(#F9F9F9 40%, #E3E3E3 70%));
  border: 1px solid $gray-2;
  @include border-radius(3px);
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  @include user-select(none);
  cursor: pointer;
  @include text-shadow(1px 1px #fff);
  font-size: .625em;
}

button:not(:disabled):hover {
  border-color: $gray-4;
}

button:not(:disabled):active {
  @include background(linear-gradient(#E3E3E3 40%, #F9F9F9 70%));
}

:disabled {
  color: $gray-2;
}

.blue {
  color: $brand-blue;
}
.blue2 {
  color: $brand-blue-secondary;
}
.blue3 {
  color: $brand-blue-secondary2;
}
.yellow {
  color: $brand-yellow;
}
.yellow2 {
  color: $brand-yellow-secondary;
}
.yellow3 {
  color: $brand-yellow-secondary2;
}
.green {
  color: $brand-green;
}
.green2 {
  color: $brand-green-secondary;
}
.green3 {
  color: $brand-green-secondary2;
}
.red {
  color: $brand-red;
}
.red2 {
  color: $brand-red-secondary;
}
.red3 {
  color: $brand-red-secondary2;
}
.gray {
  color: $gray-1;
}
.gray2 {
  color: $gray-2;
}
.gray3 {
  color: $gray-3;
}
.gray4 {
  color: $gray-4;
}

.white {
  color: white !important;
}
.black {
  color: black !important;
}

.columns-2 {
  @include column-count(2);
}
.columns-3 {
  @include column-count(3);
}
.columns-4 {
  @include column-count(4);
}


slide.fill {
  background-repeat: no-repeat;
  @include border-radius($slide-border-radius);
  @include background-size(cover);
}


/* Builds */

.build {
  > * {
    @include transition(all 0.5s ease-in-out 0.2s);
  }

  .to-build {
    opacity: 0;
  }

  .build-fade {
    opacity: 0.3;

    &:hover {
      opacity: 1.0;
    }
  }
  small {
    font-size: .8em;
  }
}

.popup .next .build {
  .to-build {
    opacity: 1;
  }

  .build-fade {
    opacity: 1;
  }
}



.note {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  padding: 1.168em $pctSplitInvPhi;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  pointer-events: none;
  @include flexbox;
  @include flex-center-center;
  @include border-radius($slide-border-radius);

  @include box-sizing(border-box);
  @include transform(translateY($slide-height / 2));@include transition(all 0.4s ease-in-out);

  > section {
    background: #fff;
    @include border-radius($slide-border-radius);
    @include box-shadow(0 0 10px $gray-3);
    width: 60%;
    padding: 2em;
  }
  p, li, dl, dt {
    font-size: 1.618rem;
  }
}

// Speaker notes only show the current slide.
.with-notes {

  &.popup {

    slides.layout-widescreen,
    slides.layout-faux-widescreen {
      slide {
        &.next {
          @include transform(translate3d($slide-width-widescreen / 2 + 140, 80px, 0) scale(0.35));
        }
        .note {
          @include transform(translate3d(300px, $slide-height + 100, 0) scale(1.5));
        }
      }
    }

    slide {
      overflow: visible;
      background: white;
      @include transition(none); // No slide transition goodies when in presenter mode.
      pointer-events: none;
      @include transform-origin(0, 0); // For speaker note transition.

      &:not(.backdrop) {
        @include transform(scale(0.6) translate3d(0.5em, 0.5em, 0));
        @include box-shadow(0 0 10px $gray-3);
      }

      &.backdrop {
        //@include background(linear-gradient($gray-1, white 30%, white 60%, $gray-1));
        @include background-image(radial-gradient(50% 50%, #b1dfff 0%,
                                                  $brand-blue 600px));
      }

      &.next {
        @include transform(translate3d($slide-width / 2 + 120, 80px, 0) scale(0.35));
        opacity: 1 !important;

        .note {
          display: none !important; // Prevents seeing notes if we go to previous slide.
        }
      }
    }

    .note {
      width: 109%;
      height: $slide-height / 2 - 90;
      background: $gray-1;
      padding: 0;

      @include box-shadow(0 0 10px $gray-3);

      @include transform(translate3d(250px, $slide-height + 100, 0) scale(1.5));
      @include transition(opacity 400ms ease-in-out);

      > section {
        background: #fff;
        @include border-radius($slide-border-radius);
        height: 100%;
        width: 100%;
        @include box-sizing(border-box);
        @include box-shadow(none);
        overflow: auto;
        padding: 1em;
      }
    }
  }

  .note {
    opacity: 1;
    @include transform(translateY(0));
    pointer-events: auto; // Allow people to do things like open links embedded in the speaker notes.
  }
}

.source {
  font-size: .875rem;
  color: $gray-2;
  position: absolute;
  bottom: $slide-top-bottom-padding + 1.875em;
  left: $slide-left-right-padding;
}

.centered {
  text-align: center;
}

.reflect {
  -webkit-box-reflect: below 3px -webkit-linear-gradient(rgba(255,255,255,0) 85%, white 150%);
  -moz-box-reflect: below 3px -moz-linear-gradient(rgba(255,255,255,0) 85%, white 150%);
  -o-box-reflect: below 3px -o-linear-gradient(rgba(255,255,255,0) 85%, white 150%);
  -ms-box-reflect: below 3px -ms-linear-gradient(rgba(255,255,255,0) 85%, white 150%);
  box-reflect: below 3px linear-gradient(rgba(255,255,255,0) 85%, white 150%);
}

.flexbox {
  @include flexbox;
}

.flexbox.vcenter {
  @include flex-center-center;
  height: 100%;
  width: 100%;
}

.flexbox.vleft {
  @include flex-left-center;
  height: 100%;
  width: 100%;
}

.flexbox.vright {
  @include flex-right-center;
  height: 100%;
  width: 100%;
}

.auto-fadein {
  @include transition(opacity 0.6s ease-in 1s);
  opacity: 0;
}

/* Clickable/tappable areas */
.slide-area {
  z-index: 1000;

  position: absolute;
  left: 0;
  top: 0;
  width: $slide-tap-area-width;
  height: $slide-height;

  left: 50%;
  top: 50%;

  cursor: pointer;
  margin-top: -$slide-height / 2;

  //@include highlight-color(rgba(51, 51, 51, 0.5));
}
#prev-slide-area {
  margin-left: -$slide-width-widescreen / 2;
  //@include border-radius(10px 0 0 10px);
  //@include box-shadow(-5px 0 10px #222 inset);
}
#next-slide-area {
  margin-left: $slide-width / 2;
  //@include border-radius(0 10px 10px 0);
  //@include box-shadow(5px 0 10px #222 inset);
}

/* ===== SLIDE CONTENT ===== */

figure {
  img {
    height:40%;
    width: 40%;
    -webkit-transform: scale(.5)
  }
  figure:hover {
    img {
      -webkit-transform: scale(1);
    }
  }
}
.flexContent{
  display:flex;
  justify-content:space-between;
  align-items: flex-start;
  height: 85%;
  &.stretchColumns{
    align-items: stretch;
  }
  .column, &.column{
    display: flex;
    flex-direction: column;
  }
  &.column{
    justify-content: flex-start;
  }
  .column{
    justify-content: space-between;
  }
  &.centered{
    width: 80%;
    align-self: center;
  }
  .row{
    display:flex;
    flex-direction: row;
  }
  .first{
    order: -1;
  }
  .last{
    order: 1;
  }
  .top{
    align-self: flex-start;
  }
  .bottom{
    align-self: flex-end;
  }
  iframe{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 16rem;
  }
  figure{
    display: flex;
    figcaption {
      flex-basis: 38.2%;
      margin: 0 0 0 1.618em
    }
  }
}
.calloutGroup {
  li, p{
    flex-grow: 1;
    flex-basis: 25%;
    border-radius: .25em;    
  }
  .build-current {
    background-color: aliceblue;
    flex-basis: 25%;    
  }
  .to-build{
    flex-basis: 0%;
  } 
}
.flexList{
  display:flex;
  flex-basis: $pctPhi;
  align-self:flex-start;
  min-width: $pctPhi
  dt, dd{
    display: flex;
    flex-direction: row;
    margin-bottom: .618em;
  }
  dt{
    align-self: baseline;
    flex-basis: 33%;
  }
  dd {
    align-self:baseline;
    flex-basis: 45%;
  }
  &.centeredItems{
    li {
      display:flex;
      align-items:center;
      justify-content: center;
    }
  }
  li{
    padding: .618em;
    margin: .618em;
  }
  &.column {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  &.row{
    flex-direction: row;
    width: 98%;
    flex-basis: 10em;
    margin-left: 0;
  }
}
.logoslide {
  img {
    width: 383px;
    height: 92px;
  }
}

.segue {
  padding: $slide-left-right-padding $slide-left-right-padding * 2;

  h2 {
    color: $gray-1;
    font-size: 3.75em;
  }
  h3 {
    color: $gray-1;
    line-height: 2.8;
  }
  hgroup {
    position: absolute;
    bottom: 225px;
  }
}

.thank-you-slide {
  background: $brand-blue !important;
  color: white;

  h2 {
    font-size: 3.75em;
    color: inherit;
  }

  article > p {
    margin-top: 2em;
    font-size: 1.25em;
  }

  > p {
    position: absolute;
    bottom: $slide-top-bottom-padding * 2;
    font-size: 1.618rem;
    line-height: 1.3;
  }
}

aside.gdbar {
  height: 97px;
  width: 215px;
  position: absolute;
  left: -1px;
  top: 125px;
  @include border-radius(0 10px 10px 0);
  @include background($gray-2 no-repeat);
  @include background-size(0% 100%);
  @include transition(all 0.5s ease-out 0.5s); /* Better to transition only on background-size, but not sure how to do that with the mixin. */

  &.right {
    right: 0;
    left: -moz-initial;
    left: initial;
    top: ($slide-height / 2) - 96; /* 96 is height of gray icon bar */
    @include transform(rotateZ(180deg));

    img {
      @include transform(rotateZ(180deg));
    }
  }

  &.bottom {
    top: -moz-initial;
    top: initial;
    bottom: $slide-left-right-padding;
  }

  img {
    width: 85px;
    height: 85px;
    position: absolute;
    right: 0;
    margin: 8px 15px;
  }
}

.title-slide {

  hgroup {
    bottom: 1em;
    h1 {
      font-size: 4em;
      line-height: $txt-lh;
      letter-spacing: -3px;
      color: $gray-4;
    }

    h2 {
      position:relative;
      top: -.618em;
      font-size: 2.472em;
      color: $gray-2;
      font-weight: inherit;
    }

    p {
      font-size: 1.25em;
      color: $gray-3;
      line-height: $txt-lh;
    }
  }
}

.quote {
  color: $gray-1;

  .author {
    font-size: 1.5em;
    position: absolute;
    bottom: 80px;
    line-height: 1.4;
  }
}

[data-config-contact] {
  a {
    color: rgb(255, 255, 255);
    border-bottom: none;
  }
  span {
    width: 115px;
    display: inline-block;
  }
}

.overview {

  &.popup {
    .note {
      display: none !important;
    }
  }
  
  slides {
    slide {
      &.backdrop {
        display: none !important;
      }

      display: block;
      cursor: pointer;
      opacity: 0.5;
      pointer-events: auto !important;

      @include backdrop();

      &.far-past,
      &.past,
      &.next,
      &.far-next,
      &.far-past {
        opacity: 0.5;
        display: block;
      }

      &.current {
        opacity: 1;
      }
    }
  }

  .slide-area {
    display: none;
  }
}

