@charset "UTF-8";
/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * Base SlideDeck Styles
 */
/* line 52, ../scss/_base.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* line 57, ../scss/_base.scss */
body {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 100%;
  min-height: 740px;
  width: 100%;
  overflow: hidden;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-transition: opacity 800ms ease-in;
  -webkit-transition-delay: 100ms;
  -moz-transition: opacity 800ms ease-in 100ms;
  -o-transition: opacity 800ms ease-in 100ms;
  transition: opacity 800ms ease-in 100ms;
}
/* line 73, ../scss/_base.scss */
body.loaded {
  opacity: 1 !important;
}

/* line 78, ../scss/_base.scss */
input, button {
  vertical-align: middle;
}

/* line 82, ../scss/_base.scss */
slides > slide[hidden] {
  display: none !important;
}

/* line 86, ../scss/_base.scss */
slides {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: opacity 800ms ease-in;
  -webkit-transition-delay: 100ms;
  -moz-transition: opacity 800ms ease-in 100ms;
  -o-transition: opacity 800ms ease-in 100ms;
  transition: opacity 800ms ease-in 100ms;
}

/* line 98, ../scss/_base.scss */
slides > slide {
  display: block;
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Slide styles */
/*article.fill iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  border: 0;
  margin: 0;

  @include border-radius(10px);

  z-index: -1;
}

slide.fill {
  background-repeat: no-repeat;
  @include background-size(cover);
}

slide.fill img {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;

  z-index: -1;
}
*/
/**
 * Theme Styles
 */
/* line 18, ../scss/_themestyles.scss */
::selection {
  color: white;
  background-color: #ffd14d;
  text-shadow: none;
}

/* line 24, ../scss/_themestyles.scss */
::-webkit-scrollbar {
  height: 1rem;
  overflow: visible;
  width: 1rem;
}

/* line 29, ../scss/_themestyles.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  border-width: 1px 1px 1px 6px;
}

/* line 38, ../scss/_themestyles.scss */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 41, ../scss/_themestyles.scss */
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

/* line 45, ../scss/_themestyles.scss */
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

/* line 50, ../scss/_themestyles.scss */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* line 54, ../scss/_themestyles.scss */
html {
  background: #191919 url("../../images/content-bg-shade.png") repeat-x left top;
}

/* line 57, ../scss/_themestyles.scss */
body {
  background: #191919 url("../../images/content-bg.png");
}

/* line 1, ../scss/_tables.scss */
table {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* line 5, ../scss/_tables.scss */
table thead, table tbody, table tfoot {
  display: inherit;
  flex-direction: inherit;
  justify-content: space-between;
  align-items: stretch;
}
/* line 11, ../scss/_tables.scss */
table thead {
  order: -1;
}
/* line 14, ../scss/_tables.scss */
table tbody {
  flex-grow: 1;
}
/* line 17, ../scss/_tables.scss */
table tfoot {
  order: 1;
}
/* line 20, ../scss/_tables.scss */
table caption {
  order: 9999;
}
/* line 23, ../scss/_tables.scss */
table tr {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}
/* line 29, ../scss/_tables.scss */
table tr td, table tr th {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 15%;
  flex-grow: 2;
  text-align: left;
}

/* line 39, ../scss/_tables.scss */
.table--reverse {
  flex-direction: row;
  min-height: 8em;
}
/* line 42, ../scss/_tables.scss */
.table--reverse tr {
  flex-direction: column;
}

/* line 46, ../scss/_tables.scss */
table {
  width: 100%;
  border-collapse: -moz-initial;
  border-collapse: initial;
  border-spacing: 2px;
  border-bottom: 1px solid #797979;
}
/* line 53, ../scss/_tables.scss */
table caption {
  font-size: .85em;
  font-style: italic;
}
/* line 57, ../scss/_tables.scss */
table tr > td:first-child, table th {
  font-weight: 600;
  color: #515151;
}
/* line 62, ../scss/_tables.scss */
table tr:nth-child(odd) {
  background-color: #e6e6e6;
}
/* line 66, ../scss/_tables.scss */
table th {
  font-size: 1.125em;
  font-weight: bold;
}
/* line 71, ../scss/_tables.scss */
table td, table th {
  font-size: 1.125em;
  padding: .618em;
}
/* line 76, ../scss/_tables.scss */
table td.highlight {
  color: #515151;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffd14d), color-stop(80%, #f6c000)) no-repeat;
  background: -webkit-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -moz-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -o-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
}
/* line 81, ../scss/_tables.scss */
table.rows {
  border-bottom: none;
  border-right: 1px solid #797979;
}

/* Size variants */
/* line 2, ../scss/_sizevariants.scss */
dl.smaller, ul.smaller {
  font-size: .618em;
}
/* line 4, ../scss/_sizevariants.scss */
dl.smaller dt, dl.smaller dd, dl.smaller li, ul.smaller dt, ul.smaller dd, ul.smaller li {
  font-size: .9em;
  line-height: 1.25;
}

/* line 11, ../scss/_sizevariants.scss */
.technical dt {
  font-family: monospace;
}

/* line 16, ../scss/_sizevariants.scss */
article.small p, article.small ul, article.small dl {
  font-size: .8em;
  line-height: 1.25;
  letter-spacing: 0;
}
/* line 22, ../scss/_sizevariants.scss */
article.small table td, article.small table th {
  font-size: .65em;
}
/* line 26, ../scss/_sizevariants.scss */
article.small pre {
  font-size: .65em;
  line-height: 1.5;
  letter-spacing: 0;
}
/* line 31, ../scss/_sizevariants.scss */
article.small q {
  font-size: 40px;
  line-height: 48px;
}
/* line 35, ../scss/_sizevariants.scss */
article.small q:before, article.small q:after {
  font-size: 60px;
}

/* line 41, ../scss/_sizevariants.scss */
article.smaller p, article.smaller ul, article.smaller dl {
  font-size: .85em;
  line-height: 1.25;
  letter-spacing: 0;
}
/* line 47, ../scss/_sizevariants.scss */
article.smaller table td, article.smaller table th {
  font-size: .56em;
}
/* line 51, ../scss/_sizevariants.scss */
article.smaller pre {
  font-size: .56em;
  line-height: 1.5;
  letter-spacing: 0;
}
/* line 56, ../scss/_sizevariants.scss */
article.smaller q {
  font-size: 40px;
  line-height: 48px;
}
/* line 60, ../scss/_sizevariants.scss */
article.smaller q:before, article.smaller q:after {
  font-size: 60px;
}

/* line 1, ../scss/_slides.scss */
slides > slide {
  display: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1rem;
  color: #797979;
  width: 75vw;
  height: 31.25em;
  margin-left: -37.5vw;
  margin-top: -15.625em;
  padding: 1.618em 1.618vw;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 22, ../scss/_slides.scss */
slides > slide.far-past {
  display: none;
}
/* line 29, ../scss/_slides.scss */
slides > slide.past {
  display: block;
  opacity: 0;
}
/* line 36, ../scss/_slides.scss */
slides > slide.current {
  display: block;
  opacity: 1;
}
/* line 42, ../scss/_slides.scss */
slides > slide.current .auto-fadein {
  opacity: 1;
}
/* line 46, ../scss/_slides.scss */
slides > slide.current .gdbar {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
/* line 51, ../scss/_slides.scss */
slides > slide.next {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/* line 59, ../scss/_slides.scss */
slides > slide.far-next {
  display: none;
}
/* line 66, ../scss/_slides.scss */
slides > slide.dark {
  background: #515151 !important;
}
/* line 74, ../scss/_slides.scss */
slides > slide:not(.nobackground):before {
  font-size: .75rem;
  content: "";
  position: absolute;
  bottom: 0.809em;
  left: 1.618vw;
  background: url(../../images/google_developers_icon_128.png) no-repeat 0 50%;
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  -o-background-size: 30px 30px;
  background-size: 30px 30px;
  padding-left: 40px;
  height: 30px;
  line-height: 1.618;
}
/* line 86, ../scss/_slides.scss */
slides > slide:not(.nobackground):after {
  font-size: .75rem;
  content: attr(data-slide-num) "/" attr(data-total-slides);
  position: absolute;
  bottom: 0.809em;
  right: 1.618vw;
  line-height: 1.618;
}
/* line 97, ../scss/_slides.scss */
slides > slide.title-slide:after {
  content: '';
  position: absolute;
  bottom: 1.618em;
  right: 1.618em;
  width: 100%;
  height: 60px;
}
/* line 109, ../scss/_slides.scss */
slides > slide.backdrop {
  z-index: -10;
  display: block !important;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -moz-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -o-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background-color: white;
}
/* line 114, ../scss/_slides.scss */
slides > slide.backdrop:after, slides > slide.backdrop:before {
  display: none;
}
/* line 118, ../scss/_slides.scss */
slides > slide hgroup {
  display: flex;
  flex-direction: column;
}
/* line 122, ../scss/_slides.scss */
slides > slide > hgroup + article {
  margin-top: .618em;
}
/* line 126, ../scss/_slides.scss */
slides > slide > hgroup + article.flexbox.vcenter, slides > slide > hgroup + article.flexbox.vleft, slides > slide > hgroup + article.flexbox.vright {
  height: 80%;
}
/* line 131, ../scss/_slides.scss */
slides > slide > hgroup + article p {
  margin-bottom: 1em;
}
/* line 136, ../scss/_slides.scss */
slides > slide > article:only-child {
  height: 100%;
}
/* line 139, ../scss/_slides.scss */
slides > slide > article:only-child > iframe {
  height: 98%;
}
/* line 143, ../scss/_slides.scss */
slides > slide > article > footer {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: .618em;
  border-top: 2px dashed rgba(90, 90, 90, 0.05);
}

/* line 156, ../scss/_slides.scss */
slides.layout-faux-widescreen > slide {
  padding: 1.618em 160px;
}

/* line 165, ../scss/_slides.scss */
slides.layout-widescreen > slide,
slides.layout-faux-widescreen > slide {
  margin-left: -49vw;
  width: 98vw;
}
/* line 170, ../scss/_slides.scss */
slides.layout-widescreen > slide.far-past,
slides.layout-faux-widescreen > slide.far-past {
  display: block;
  display: none;
  -webkit-transform: translate(-2260px);
  -moz-transform: translate(-2260px);
  -ms-transform: translate(-2260px);
  -o-transform: translate(-2260px);
  transform: translate(-2260px);
  -webkit-transform: translate3d(-2260px, 0, 0);
  -moz-transform: translate3d(-2260px, 0, 0);
  -ms-transform: translate3d(-2260px, 0, 0);
  -o-transform: translate3d(-2260px, 0, 0);
  transform: translate3d(-2260px, 0, 0);
}
/* line 177, ../scss/_slides.scss */
slides.layout-widescreen > slide.past,
slides.layout-faux-widescreen > slide.past {
  display: block;
  opacity: 0;
}
/* line 184, ../scss/_slides.scss */
slides.layout-widescreen > slide.current,
slides.layout-faux-widescreen > slide.current {
  display: block;
  opacity: 1;
}
/* line 191, ../scss/_slides.scss */
slides.layout-widescreen > slide.next,
slides.layout-faux-widescreen > slide.next {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/* line 199, ../scss/_slides.scss */
slides.layout-widescreen > slide.far-next,
slides.layout-faux-widescreen > slide.far-next {
  display: block;
  display: none;
  -webkit-transform: translate(2260px);
  -moz-transform: translate(2260px);
  -ms-transform: translate(2260px);
  -o-transform: translate(2260px);
  transform: translate(2260px);
  -webkit-transform: translate3d(2260px, 0, 0);
  -moz-transform: translate3d(2260px, 0, 0);
  -ms-transform: translate3d(2260px, 0, 0);
  -o-transform: translate3d(2260px, 0, 0);
  transform: translate3d(2260px, 0, 0);
}
/* line 206, ../scss/_slides.scss */
slides.layout-widescreen #prev-slide-area,
slides.layout-faux-widescreen #prev-slide-area {
  margin-left: -52vw;
}
/* line 210, ../scss/_slides.scss */
slides.layout-widescreen #next-slide-area,
slides.layout-faux-widescreen #next-slide-area {
  margin-left: 49vw;
}

/* line 1, ../scss/_typography.scss */
b {
  font-weight: 600;
}

/* line 5, ../scss/_typography.scss */
a {
  color: #2a7cdf;
  text-decoration: none;
  border-bottom: 1px solid rgba(42, 124, 223, 0.5);
}
/* line 10, ../scss/_typography.scss */
a:hover {
  color: black !important;
}

/* line 15, ../scss/_typography.scss */
h1, h2, h3 {
  font-weight: 600;
}

/* line 19, ../scss/_typography.scss */
h2 {
  font-size: 2.6175rem;
  line-height: 1.618;
  letter-spacing: -.02ex;
  color: #515151;
}

/* line 26, ../scss/_typography.scss */
h3 {
  font-weight: inherit;
  color: #797979;
  font-size: 1.25rem;
  letter-spacing: -.02ex;
  line-height: 1.618;
}

/* line 33, ../scss/_typography.scss */
h2 + h3 {
  margin-top: -0.618em;
}

/* line 37, ../scss/_typography.scss */
ul, dl {
  margin-left: 1.36em;
  margin-bottom: .618em;
  position: relative;
}
/* line 42, ../scss/_typography.scss */
ul li, dl li {
  margin-bottom: 0.618em;
}
/* line 45, ../scss/_typography.scss */
ul li ul, dl li ul {
  margin-left: 2em;
  margin-bottom: 0;
}
/* line 49, ../scss/_typography.scss */
ul li ul li:before, dl li ul li:before {
  content: '-';
  font-weight: 600;
}
/* line 56, ../scss/_typography.scss */
ul > li:before, dl > li:before {
  /*content: '\00B7';
  margin-left: -1em;
  position: absolute;
  font-weight: 600;*/
}
/* line 63, ../scss/_typography.scss */
ul ul, dl ul {
  margin-top: .618em;
}

/* line 68, ../scss/_typography.scss */
q {
  font-size: 45px;
  line-height: 72px;
}
/* line 72, ../scss/_typography.scss */
q:before {
  content: '“';
  position: absolute;
  margin-left: -0.5em;
}
/* line 77, ../scss/_typography.scss */
q:after {
  content: '”';
  position: absolute;
  margin-left: 0.1em;
}

/* line 85, ../scss/_typography.scss */
dl dt {
  font-weight: bold;
}
/* line 88, ../scss/_typography.scss */
dl dd {
  font-weight: normal;
}

/* line 3, ../scss/_code.scss */
.highlight-code slide.current pre > * {
  opacity: 0.25;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
/* line 7, ../scss/_code.scss */
.highlight-code slide.current b {
  opacity: 1;
}

/* line 12, ../scss/_code.scss */
pre {
  font-family: 'Source Code Pro', 'Courier New', monospace;
  font-size: 1.25em;
  line-height: 1.4;
  padding: 10px 0 10px 1.618vw;
  letter-spacing: -1px;
  margin-bottom: 1em;
  width: 106%;
  background-color: #e6e6e6;
  left: -1.618vw;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: scroll;
  /*overflow: hidden;*/
}
/* line 27, ../scss/_code.scss */
pre[data-lang]:after {
  content: attr(data-lang);
  background-color: darkgrey;
  right: 0;
  top: 0;
  position: absolute;
  font-size: .5em;
  color: white;
  padding: 2px .618em;
  text-transform: uppercase;
  border-radius: 0 0 3px 3px;
}

/* line 41, ../scss/_code.scss */
pre[data-lang="go"] {
  color: #333;
}

/* line 45, ../scss/_code.scss */
code {
  font-size: 95%;
  font-family: 'Source Code Pro', 'Courier New', monospace;
  color: black;
}

/* Pretty print */
/* line 54, ../scss/_code.scss */
.prettyprint .str,
.prettyprint .atv {
  /* a markup attribute value */
  color: #009f5d;
}

/* line 58, ../scss/_code.scss */
.prettyprint .kwd,
.prettyprint .tag {
  /* a markup tag name */
  color: #0066cc;
}

/* line 61, ../scss/_code.scss */
.prettyprint .com {
  /* a comment */
  color: #797979;
  font-style: italic;
}

/* line 65, ../scss/_code.scss */
.prettyprint .lit {
  /* a literal value */
  color: #7f0000;
}

/* line 70, ../scss/_code.scss */
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo {
  color: #515151;
}

/* line 76, ../scss/_code.scss */
.prettyprint .typ,
.prettyprint .atn,
.prettyprint .dec,
.prettyprint .var {
  /* a declaration; a variable name */
  color: #d94d3a;
}

/* line 79, ../scss/_code.scss */
.prettyprint .pln {
  color: #515151;
}

@media print {
  /* line 3, ../scss/_media--print.scss */
  slides slide {
    display: block !important;
    position: relative;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #e6e6e6));
    background: -webkit-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background: -moz-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background: -o-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background: linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
    background-color: white;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    width: 100%;
    height: 100%;
    page-break-after: always;
    top: auto !important;
    left: auto !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    opacity: 1 !important;
    color: #555;
  }
  /* line 23, ../scss/_media--print.scss */
  slides slide.far-past, slides slide.past, slides slide.next, slides slide.far-next, slides slide.far-past, slides slide.current {
    opacity: 1 !important;
    display: block !important;
  }
  /* line 29, ../scss/_media--print.scss */
  slides slide .build > * {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  /* line 34, ../scss/_media--print.scss */
  slides slide .build .to-build,
  slides slide .build .build-fade {
    opacity: 1;
  }
  /* line 39, ../scss/_media--print.scss */
  slides slide .auto-fadein {
    opacity: 1 !important;
  }
  /* line 43, ../scss/_media--print.scss */
  slides slide.backdrop {
    display: none !important;
  }
  /* line 47, ../scss/_media--print.scss */
  slides slide table.rows {
    border-right: 0;
  }
  /* line 52, ../scss/_media--print.scss */
  slides slide[hidden] {
    display: none !important;
  }

  /* line 57, ../scss/_media--print.scss */
  .slide-area {
    display: none;
  }

  /* line 61, ../scss/_media--print.scss */
  .reflect {
    -webkit-box-reflect: none;
    -moz-box-reflect: none;
    -o-box-reflect: none;
    -ms-box-reflect: none;
    box-reflect: none;
  }

  /* line 69, ../scss/_media--print.scss */
  pre, code {
    font-family: monospace !important;
  }
}
/* line 14, ../scss/default.scss */
iframe {
  width: 100%;
  height: 22.389em;
  background: white;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../scss/default.scss */
button {
  display: inline-block;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #f9f9f9), color-stop(70%, #e3e3e3));
  background: -webkit-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: -moz-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: -o-linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  background: linear-gradient(#f9f9f9 40%, #e3e3e3 70%);
  border: 1px solid darkgrey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px white;
  font-size: .625em;
}

/* line 37, ../scss/default.scss */
button:not(:disabled):hover {
  border-color: #515151;
}

/* line 41, ../scss/default.scss */
button:not(:disabled):active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #e3e3e3), color-stop(70%, #f9f9f9));
  background: -webkit-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: -moz-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: -o-linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
  background: linear-gradient(#e3e3e3 40%, #f9f9f9 70%);
}

/* line 45, ../scss/default.scss */
:disabled {
  color: darkgrey;
}

/* line 49, ../scss/default.scss */
.blue {
  color: #335ebe;
}

/* line 52, ../scss/default.scss */
.blue2 {
  color: #3c8ef3;
}

/* line 55, ../scss/default.scss */
.blue3 {
  color: #2a7cdf;
}

/* line 58, ../scss/default.scss */
.yellow {
  color: #ffd14d;
}

/* line 61, ../scss/default.scss */
.yellow2 {
  color: #f9cc46;
}

/* line 64, ../scss/default.scss */
.yellow3 {
  color: #f6c000;
}

/* line 67, ../scss/default.scss */
.green {
  color: #0da861;
}

/* line 70, ../scss/default.scss */
.green2 {
  color: #00a86d;
}

/* line 73, ../scss/default.scss */
.green3 {
  color: #009f5d;
}

/* line 76, ../scss/default.scss */
.red {
  color: #f44a3f;
}

/* line 79, ../scss/default.scss */
.red2 {
  color: #e0543e;
}

/* line 82, ../scss/default.scss */
.red3 {
  color: #d94d3a;
}

/* line 85, ../scss/default.scss */
.gray {
  color: #e6e6e6;
}

/* line 88, ../scss/default.scss */
.gray2 {
  color: darkgrey;
}

/* line 91, ../scss/default.scss */
.gray3 {
  color: #797979;
}

/* line 94, ../scss/default.scss */
.gray4 {
  color: #515151;
}

/* line 98, ../scss/default.scss */
.white {
  color: white !important;
}

/* line 101, ../scss/default.scss */
.black {
  color: black !important;
}

/* line 105, ../scss/default.scss */
.columns-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}

/* line 108, ../scss/default.scss */
.columns-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
}

/* line 111, ../scss/default.scss */
.columns-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
}

/* line 116, ../scss/default.scss */
slide.fill {
  background-repeat: no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Builds */
/* line 126, ../scss/default.scss */
.build > * {
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all 0.5s ease-in-out 0.2s;
  -o-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
}
/* line 130, ../scss/default.scss */
.build .to-build {
  opacity: 0;
}
/* line 134, ../scss/default.scss */
.build .build-fade {
  opacity: 0.3;
}
/* line 137, ../scss/default.scss */
.build .build-fade:hover {
  opacity: 1.0;
}
/* line 141, ../scss/default.scss */
.build small {
  font-size: .8em;
}

/* line 147, ../scss/default.scss */
.popup .next .build .to-build {
  opacity: 1;
}
/* line 151, ../scss/default.scss */
.popup .next .build .build-fade {
  opacity: 1;
}

/* line 158, ../scss/default.scss */
.note {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  padding: 1.168em 19.1%;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  pointer-events: none;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-box !important;
  display: -o-box !important;
  display: box !important;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateY(15.625em);
  -moz-transform: translateY(15.625em);
  -ms-transform: translateY(15.625em);
  -o-transform: translateY(15.625em);
  transform: translateY(15.625em);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 176, ../scss/default.scss */
.note > section {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #797979;
  -moz-box-shadow: 0 0 10px #797979;
  box-shadow: 0 0 10px #797979;
  width: 60%;
  padding: 2em;
}
/* line 183, ../scss/default.scss */
.note p, .note li, .note dl, .note dt {
  font-size: 1.618rem;
}

/* line 196, ../scss/default.scss */
.with-notes.popup slides.layout-widescreen slide.next,
.with-notes.popup slides.layout-faux-widescreen slide.next {
  -webkit-transform: translate3d(189vw, 80px, 0) scale(0.35);
  -moz-transform: translate3d(189vw, 80px, 0) scale(0.35);
  -ms-transform: translate3d(189vw, 80px, 0) scale(0.35);
  -o-transform: translate3d(189vw, 80px, 0) scale(0.35);
  transform: translate3d(189vw, 80px, 0) scale(0.35);
}
/* line 199, ../scss/default.scss */
.with-notes.popup slides.layout-widescreen slide .note,
.with-notes.popup slides.layout-faux-widescreen slide .note {
  -webkit-transform: translate3d(300px, 131.25em, 0) scale(1.5);
  -moz-transform: translate3d(300px, 131.25em, 0) scale(1.5);
  -ms-transform: translate3d(300px, 131.25em, 0) scale(1.5);
  -o-transform: translate3d(300px, 131.25em, 0) scale(1.5);
  transform: translate3d(300px, 131.25em, 0) scale(1.5);
}
/* line 205, ../scss/default.scss */
.with-notes.popup slide {
  overflow: visible;
  background: white;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 212, ../scss/default.scss */
.with-notes.popup slide:not(.backdrop) {
  -webkit-transform: scale(0.6) translate3d(0.5em, 0.5em, 0);
  -moz-transform: scale(0.6) translate3d(0.5em, 0.5em, 0);
  -ms-transform: scale(0.6) translate3d(0.5em, 0.5em, 0);
  -o-transform: scale(0.6) translate3d(0.5em, 0.5em, 0);
  transform: scale(0.6) translate3d(0.5em, 0.5em, 0);
  -webkit-box-shadow: 0 0 10px #797979;
  -moz-box-shadow: 0 0 10px #797979;
  box-shadow: 0 0 10px #797979;
}
/* line 217, ../scss/default.scss */
.with-notes.popup slide.backdrop {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, color-stop(0%, #b1dfff), color-stop(100%, #335ebe));
  background-image: -webkit-radial-gradient(50% 50%, #b1dfff 0%, #335ebe 600px);
  background-image: -moz-radial-gradient(50% 50%, #b1dfff 0%, #335ebe 600px);
  background-image: -o-radial-gradient(50% 50%, #b1dfff 0%, #335ebe 600px);
  background-image: radial-gradient(50% 50%, #b1dfff 0%, #335ebe 600px);
}
/* line 223, ../scss/default.scss */
.with-notes.popup slide.next {
  -webkit-transform: translate3d(157.5vw, 80px, 0) scale(0.35);
  -moz-transform: translate3d(157.5vw, 80px, 0) scale(0.35);
  -ms-transform: translate3d(157.5vw, 80px, 0) scale(0.35);
  -o-transform: translate3d(157.5vw, 80px, 0) scale(0.35);
  transform: translate3d(157.5vw, 80px, 0) scale(0.35);
  opacity: 1 !important;
}
/* line 227, ../scss/default.scss */
.with-notes.popup slide.next .note {
  display: none !important;
}
/* line 233, ../scss/default.scss */
.with-notes.popup .note {
  width: 109%;
  height: -74.375em;
  background: #e6e6e6;
  padding: 0;
  -webkit-box-shadow: 0 0 10px #797979;
  -moz-box-shadow: 0 0 10px #797979;
  box-shadow: 0 0 10px #797979;
  -webkit-transform: translate3d(250px, 131.25em, 0) scale(1.5);
  -moz-transform: translate3d(250px, 131.25em, 0) scale(1.5);
  -ms-transform: translate3d(250px, 131.25em, 0) scale(1.5);
  -o-transform: translate3d(250px, 131.25em, 0) scale(1.5);
  transform: translate3d(250px, 131.25em, 0) scale(1.5);
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}
/* line 244, ../scss/default.scss */
.with-notes.popup .note > section {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow: auto;
  padding: 1em;
}
/* line 257, ../scss/default.scss */
.with-notes .note {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  pointer-events: auto;
}

/* line 264, ../scss/default.scss */
.source {
  font-size: .875rem;
  color: darkgrey;
  position: absolute;
  bottom: 3.493em;
  left: 1.618vw;
}

/* line 272, ../scss/default.scss */
.centered {
  text-align: center;
}

/* line 276, ../scss/default.scss */
.reflect {
  -webkit-box-reflect: below 3px -webkit-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -moz-box-reflect: below 3px -moz-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -o-box-reflect: below 3px -o-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  -ms-box-reflect: below 3px -ms-linear-gradient(rgba(255, 255, 255, 0) 85%, white 150%);
  box-reflect: below 3px linear-gradient(rgba(255, 255, 255, 0) 85%, #ffffff 150%);
}

/* line 284, ../scss/default.scss */
.flexbox {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-box !important;
  display: -o-box !important;
  display: box !important;
}

/* line 288, ../scss/default.scss */
.flexbox.vcenter {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 100%;
}

/* line 294, ../scss/default.scss */
.flexbox.vleft {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: left;
  -moz-box-align: left;
  -ms-box-align: left;
  box-align: left;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 100%;
}

/* line 300, ../scss/default.scss */
.flexbox.vright {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-box-align: end;
  box-align: end;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
  width: 100%;
}

/* line 306, ../scss/default.scss */
.auto-fadein {
  -webkit-transition: opacity 0.6s ease-in;
  -webkit-transition-delay: 1s;
  -moz-transition: opacity 0.6s ease-in 1s;
  -o-transition: opacity 0.6s ease-in 1s;
  transition: opacity 0.6s ease-in 1s;
  opacity: 0;
}

/* Clickable/tappable areas */
/* line 312, ../scss/default.scss */
.slide-area {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 3vw;
  height: 31.25em;
  left: 50%;
  top: 50%;
  cursor: pointer;
  margin-top: -15.625em;
}

/* line 329, ../scss/default.scss */
#prev-slide-area {
  margin-left: -49vw;
}

/* line 334, ../scss/default.scss */
#next-slide-area {
  margin-left: 37.5vw;
}

/* ===== SLIDE CONTENT ===== */
/* line 343, ../scss/default.scss */
figure img {
  height: 40%;
  width: 40%;
  -webkit-transform: scale(0.5);
}
/* line 349, ../scss/default.scss */
figure figure:hover img {
  -webkit-transform: scale(1);
}

/* line 354, ../scss/default.scss */
.flexContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 85%;
}
/* line 359, ../scss/default.scss */
.flexContent.stretchColumns {
  align-items: stretch;
}
/* line 362, ../scss/default.scss */
.flexContent .column, .flexContent.column {
  display: flex;
  flex-direction: column;
}
/* line 366, ../scss/default.scss */
.flexContent.column {
  justify-content: flex-start;
}
/* line 369, ../scss/default.scss */
.flexContent .column {
  justify-content: space-between;
}
/* line 372, ../scss/default.scss */
.flexContent.centered {
  width: 80%;
  align-self: center;
}
/* line 376, ../scss/default.scss */
.flexContent .row {
  display: flex;
  flex-direction: row;
}
/* line 380, ../scss/default.scss */
.flexContent .first {
  order: -1;
}
/* line 383, ../scss/default.scss */
.flexContent .last {
  order: 1;
}
/* line 386, ../scss/default.scss */
.flexContent .top {
  align-self: flex-start;
}
/* line 389, ../scss/default.scss */
.flexContent .bottom {
  align-self: flex-end;
}
/* line 392, ../scss/default.scss */
.flexContent iframe {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 16rem;
}
/* line 397, ../scss/default.scss */
.flexContent figure {
  display: flex;
}
/* line 399, ../scss/default.scss */
.flexContent figure figcaption {
  flex-basis: 38.2%;
  margin: 0 0 0 1.618em;
}

/* line 406, ../scss/default.scss */
.calloutGroup li, .calloutGroup p {
  flex-grow: 1;
  flex-basis: 25%;
  border-radius: .25em;
}
/* line 411, ../scss/default.scss */
.calloutGroup .build-current {
  background-color: aliceblue;
  flex-basis: 25%;
}
/* line 415, ../scss/default.scss */
.calloutGroup .to-build {
  flex-basis: 0%;
}

/* line 419, ../scss/default.scss */
.flexList {
  display: flex;
  flex-basis: 61.8%;
  align-self: flex-start;
  min-width: 61.8% dt, dd;
  min-width-display: flex;
  min-width-flex-direction: row;
  min-width-margin-bottom: .618em;
}
/* line 429, ../scss/default.scss */
.flexList dt {
  align-self: baseline;
  flex-basis: 33%;
}
/* line 433, ../scss/default.scss */
.flexList dd {
  align-self: baseline;
  flex-basis: 45%;
}
/* line 438, ../scss/default.scss */
.flexList.centeredItems li {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 444, ../scss/default.scss */
.flexList li {
  padding: .618em;
  margin: .618em;
}
/* line 448, ../scss/default.scss */
.flexList.column {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 454, ../scss/default.scss */
.flexList.row {
  flex-direction: row;
  width: 98%;
  flex-basis: 10em;
  margin-left: 0;
}

/* line 462, ../scss/default.scss */
.logoslide img {
  width: 383px;
  height: 92px;
}

/* line 468, ../scss/default.scss */
.segue {
  padding: 1.618vw 3.236vw;
}
/* line 471, ../scss/default.scss */
.segue h2 {
  color: #e6e6e6;
  font-size: 3.75em;
}
/* line 475, ../scss/default.scss */
.segue h3 {
  color: #e6e6e6;
  line-height: 2.8;
}
/* line 479, ../scss/default.scss */
.segue hgroup {
  position: absolute;
  bottom: 225px;
}

/* line 485, ../scss/default.scss */
.thank-you-slide {
  background: #335ebe !important;
  color: white;
}
/* line 489, ../scss/default.scss */
.thank-you-slide h2 {
  font-size: 3.75em;
  color: inherit;
}
/* line 494, ../scss/default.scss */
.thank-you-slide article > p {
  margin-top: 2em;
  font-size: 1.25em;
}
/* line 499, ../scss/default.scss */
.thank-you-slide > p {
  position: absolute;
  bottom: 3.236em;
  font-size: 1.618rem;
  line-height: 1.3;
}

/* line 507, ../scss/default.scss */
aside.gdbar {
  height: 97px;
  width: 215px;
  position: absolute;
  left: -1px;
  top: 125px;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background: darkgrey no-repeat;
  -webkit-background-size: 0% 100%;
  -moz-background-size: 0% 100%;
  -o-background-size: 0% 100%;
  background-size: 0% 100%;
  -webkit-transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.5s;
  -moz-transition: all 0.5s ease-out 0.5s;
  -o-transition: all 0.5s ease-out 0.5s;
  transition: all 0.5s ease-out 0.5s;
  /* Better to transition only on background-size, but not sure how to do that with the mixin. */
}
/* line 518, ../scss/default.scss */
aside.gdbar.right {
  right: 0;
  left: -moz-initial;
  left: initial;
  top: -80.375em;
  /* 96 is height of gray icon bar */
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
/* line 525, ../scss/default.scss */
aside.gdbar.right img {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
/* line 530, ../scss/default.scss */
aside.gdbar.bottom {
  top: -moz-initial;
  top: initial;
  bottom: 1.618vw;
}
/* line 536, ../scss/default.scss */
aside.gdbar img {
  width: 85px;
  height: 85px;
  position: absolute;
  right: 0;
  margin: 8px 15px;
}

/* line 547, ../scss/default.scss */
.title-slide hgroup {
  bottom: 1em;
}
/* line 549, ../scss/default.scss */
.title-slide hgroup h1 {
  font-size: 4em;
  line-height: 1.618;
  letter-spacing: -3px;
  color: #515151;
}
/* line 556, ../scss/default.scss */
.title-slide hgroup h2 {
  position: relative;
  top: -.618em;
  font-size: 2.472em;
  color: darkgrey;
  font-weight: inherit;
}
/* line 564, ../scss/default.scss */
.title-slide hgroup p {
  font-size: 1.25em;
  color: #797979;
  line-height: 1.618;
}

/* line 572, ../scss/default.scss */
.quote {
  color: #e6e6e6;
}
/* line 575, ../scss/default.scss */
.quote .author {
  font-size: 1.5em;
  position: absolute;
  bottom: 80px;
  line-height: 1.4;
}

/* line 584, ../scss/default.scss */
[data-config-contact] a {
  color: white;
  border-bottom: none;
}
/* line 588, ../scss/default.scss */
[data-config-contact] span {
  width: 115px;
  display: inline-block;
}

/* line 597, ../scss/default.scss */
.overview.popup .note {
  display: none !important;
}
/* line 603, ../scss/default.scss */
.overview slides slide {
  display: block;
  cursor: pointer;
  opacity: 0.5;
  pointer-events: auto !important;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(85%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -moz-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: -o-linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background: linear-gradient(#ffffff, #ffffff 85%, #e6e6e6);
  background-color: white;
}
/* line 604, ../scss/default.scss */
.overview slides slide.backdrop {
  display: none !important;
}
/* line 619, ../scss/default.scss */
.overview slides slide.far-past, .overview slides slide.past, .overview slides slide.next, .overview slides slide.far-next, .overview slides slide.far-past {
  opacity: 0.5;
  display: block;
}
/* line 624, ../scss/default.scss */
.overview slides slide.current {
  opacity: 1;
}
/* line 630, ../scss/default.scss */
.overview .slide-area {
  display: none;
}
